!!!
%html
  %head
    %title Fitbyte
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_PUB_KEY']}&sensor=true"
    = csrf_meta_tags

  %body
    .header
      .header_img
        %h1.header_text
          1,000,000 Steps - Race to D.C.
          .span.pull-right
            - unless current_user
              = link_to 'Join with FitBit', user_omniauth_authorize_path(:fitbit), class: 'btn btn-primary'
    = yield
