!!!
%html
  %head
    %title Fitbyte
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=geometry&key=#{ENV['GOOGLE_PUB_KEY']}&sensor=true"
    = csrf_meta_tags

  %body
    .row.header
      .header_img
      %h1.header_text
        1,000,000 Steps - Race to D.C.

    = yield

:javascript
  $( function() {
      var days = moment('2014-03-12').add('days', 100).diff(moment(), 'days');
      $('.header_text').append(' - ' + days + ' days left');
    });
